@media screen and (max-width: 928px) {
    .hero-tagline {
        margin-top: 15% !important;
        width: 80%;
    }

    .hero-tagline h1 {
        line-height: 68px;
        font-size: 40px;
        width: 100%;
    }

    .hero-tagline p {
        width: 90%;
    }

    .img-hero {
        width: 100%;
        height: auto;
    }

    #layanan {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }

    h2 {
        font-size: 35px;
    }

    .sub-title {
        font-size: 14px;
    }

    .card-layanan {
        width: 100%;
        margin: 0 0;
    }

    .card-layanan h3 {
        font-size: 26px;
    }

    .card-layanan:hover h3 {
        font-size: 26px;
    }

    .mt-5 {
        margin-top: 2% !important;
    }

    footer {
        height: 200px;
        width: 100%;
    }

    .copyright {
        top: 20%;
        margin-top: 12%;
        width: 100%;
        font-size: 13px;
    }

    .label {
        font-size: 17px;
    }

    .menu {
        font-size: 13px;
        margin-top: 2%;
        margin: 2px;
    }

    .menu-layout{
        margin-top: 2%;
        margin-left: -10%;
        flex-wrap: wrap;
        width: 50%;
    }

    .img-footer {
        width: 6%;
        margin-left: -80%;
    }
}

@media screen and (max-width: 576px) {
    body{
        width: 130% !important;
    }
    .hero-tagline {
        margin-top: 15% !important;
    }

    .hero-tagline h1 {
        line-height: 50px;
        font-size: 30px;
        width: 100%;
    }

    .hero-tagline p {
        width: 80%;
        line-height: 30px;
        font-size: 14px;
    }

    .img-hero {
        width: 100%;
        height: auto;
    }

    #layanan {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }

    h2 {
        font-size: 35px;
    }

    .sub-title {
        font-size: 14px;
    }

    .card-layanan {
        margin: 20px 0;
    }

    .mt-5 {
        margin-top: 2% !important;
    }

    footer {
        height: 200px;
        width: 100%;
    }

    .copyright {
        top: 20%;
        margin-top: 16%;
        width: 100%;
        font-size: 13px;
    }

    .label {
        font-size: 17px;
    }

    .menu {
        font-size: 13px;
        margin-top: 2%;
    }

    .img-footer {
        width: 6%;
    }

    .table-wrapper{
        width: 120%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 350px) {
    body{
        width: 200% !important;
    }

    .hero-tagline {
        margin-top: 28% !important;
    }

    .hero-tagline h1 {
        line-height: 40px;
        font-size: 24px;
        width: 100%;
    }

    .hero-tagline p {

        width: 100%;
        font-size: 12px;
    }

    .img-hero {
        width: 100%;
        height: auto;
    }

    #layanan {
        padding-top: 15% !important;
        padding-bottom: 15% !important;
    }

    h2 {
        font-size: 24px;
    }

    .sub-title {
        font-size: 10px;
    }

    .card-layanan {
        margin: 10px 0;
    }

    .mt-5 {
        margin-top: 5% !important;
    }

    footer {
        height: 200px;
        width: 100%;
    }

    .copyright {
        top: 40%;
        margin-top: 10%;
        font-size: 10px;
    }

    .label {
        font-size: 13px;
    }

    .menu {
        font-size: 10px;
        margin-top: 5px;
    }

    .img-footer {
        width: 5%;
    }

    .table-wrapper{
        width: 100%;
    }
}
